# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Android Studio
.gradle/

# Local configuration file (sdk path, etc)
# src/Android/SleepAnalyzer/local.properties
local.properties

# src/Android/SleepAnalyzer/.idea/workspace.xml
# **/.idea/workspace.xml
# src/Android/SleepAnalyzer/.idea/libraries
# **/.idea/libraries/
.idea

# generated build directories
# this covers all directories named build
build/

# Want the apk so QA can download and test without building
!*.apk

# Android Studio captures folder
captures/

# Explicit files from Interaxon we do not want to distribute
# src/Android/SleepAnalyzer/app/libs/libmuse_android.jar
libmuse_android.jar
# src/Android/SleepAnalyzer/app/src/main/jniLibs/armeabi-v7a/libmuse_android.so
libmuse_android.so

